.center-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#static-elements {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 20px
}
#date-time {
    position: absolute;
    top: 300px;
}